<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1>ORDER FORM</h1>
            <hr>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div> 

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Supplies to buy</h2> 
            <h6>*Click the X Button once Purchased</h6>
            <ul>
                {{#each supplies}}
                <li>
                    <button id="x-button" type="submit">X</button>
                    {{this.supply}}
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-sm-4">
            <h2>Supplies Input Form</h2> 
                <div class="form-container">
                    <div class="row">
                        <div class="col-md-8 center-element">
                            <form>
                                <div class="form-group">
                                    <label>Enter item</label>
                                    <input class="input-lg form-control" id="enter" type="text" name="supply-enter">
                                </div>
                                <button id="submit-button" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-sm-4"><h2>Supplies Already Bought</h2> </div>
    </div><!--end row-->
</div> <!--end container-->

<!--start script-->

<script type="text/javascript">

  $("#submit-button").on("submit", function(event) {
    event.preventDefault();
    var newSupply = {
      supply: $("#enter").val().trim()
    };
    $.ajax("/api/supplies", {
      type: "POST",
      data: newSupply
    }).then(
      function() {
        console.log("CREATED NEW SUPPLY");
        // Rather than redirect to new page, reload the page to get the updated info
        location.reload();
      }
    );
  });










</script>

